body {
    margin: 0;
}

#map {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#layer-menu {
    position: absolute;
    z-index: 650;
    right: 2rem;
    top: 1.5rem;
    border-radius: 0.25rem;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    background: rgb(57, 154, 165);
    font-family: "Poppins", sans-serif;
    color: rgb(6, 7, 49);
}

#baseLayers, #overlayLayers {
    margin: 10px;
    padding: 10px;
    background-color: rgb(94, 204, 216);
    border-radius: 0.25rem;
}

#basicLayers>p:hover, .basicOL:hover, .selectBaseL:hover {
    color: rgb(171, 217, 223);
    text-decoration: underline;
    cursor: pointer;
}
.selectOL:hover{
    cursor: pointer;
    color: rgb(171, 217, 223);
    text-decoration: underline;

}

#selectArrow:hover {
    cursor: pointer;
}

#layers {
    display: flex;
    flex-direction: row;
}

#toggleOverlays {
    cursor: pointer;
    color: aliceblue;
}

#toggleOverlays:hover {
    transform: translateY(-2px);
    color: rgb(2, 23, 26);
}

#toggleOverlays:active {
    transform: translateY(3px);
}

#input {
    position: absolute;
    background: white;
    top: 1.5rem;
    left: 5rem;
    padding: 0.5rem;
    z-index: 650;
    border-radius: 0.25rem;
    border: 2px solid rgb(0 0 0 / 25%);
    box-shadow: 0 0 2px rgb(0 0 0 / 25%);
    display: flex;
    border-color: cornflowerblue;
}

#lat, #long {
    margin-left: 4px;
    margin-right: 4px;
}

#input label {
    font-family: sans-serif;
    color: cornflowerblue;
}

#input input {
    color: cornflowerblue;
    width: 4rem;
}

.map-wrapper {
    position: relative;
}

#draggable {
    height: 100vh;
    width: 10px;
    background-color: rgb(51, 175, 26);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 400;
    cursor: move;
    display: none;
}

#dragged-map {
    position: absolute !important;
    pointer-events: none;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

#toggle-draggable {
    position: fixed;
    top: 10px;
    left: 80px;
    z-index: 401;
}

#opacity {
    position: absolute;
    background: white;
    bottom: 2rem;
    right: 1rem;
    padding: 1rem;
    z-index: 650;
    border-radius: 0.25rem;
    border: 2px solid rgb(0 0 0 / 25%);
    box-shadow: 0 0 2px rgb(0 0 0 / 25%);
    display: none;
}

.choosed-Layers {
    display: inline-flex;
    align-items: center;
    margin: 16px 0 0 0;
}

.choosed-Layers > .close {
    margin-left: 1rem;
    color: rgb(231, 54, 54);
    cursor: pointer;
}

 .close {
    margin-left: 1rem;
    color: rgb(231, 54, 54);
    cursor: pointer;
}

#trash-icon{
    padding-left: 2.3rem;
    cursor: pointer;
}